/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/roboto-v20-latin/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("assets/fonts/roboto-v20-latin/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-regular.woff") format("woff"), /* Modern Browsers */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/roboto-v20-latin/roboto-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("assets/fonts/roboto-v20-latin/roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-500.woff2") format("woff2"), /* Super Modern Browsers */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-500.woff") format("woff"), /* Modern Browsers */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-500.ttf") format("truetype"), /* Safari, Android, iOS */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/roboto-v20-latin/roboto-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("assets/fonts/roboto-v20-latin/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-700.woff2") format("woff2"), /* Super Modern Browsers */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-700.woff") format("woff"), /* Modern Browsers */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/roboto-v20-latin/roboto-v20-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("assets/fonts/roboto-v20-latin/roboto-v20-latin-900.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-900.woff2") format("woff2"), /* Super Modern Browsers */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-900.woff") format("woff"), /* Modern Browsers */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-900.ttf") format("truetype"), /* Safari, Android, iOS */ url("../../assets/fonts/roboto-v20-latin/roboto-v20-latin-900.svg#Roboto") format("svg"); /* Legacy iOS */
}


html, p, div, h1, h2, h3, section, ul {
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

ol, ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ccc;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #ccc;
  background-color: #070710;
}

.header_h2 {
  color: #07eee0;
  text-transform: uppercase;
}

.header_h3 {
  color: #07eee0;
  text-transform: uppercase;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/*Header section styles start*/
.header {
  padding: 50px 50px;
  background-image: url(assets/images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;;
}

.socials__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socials__link {
  display: block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.instagram-link {
  background-image: url(assets/images/instagram.svg);
}

.telegram-link {
  background-image: url(assets/images/telegram.svg);
}

.linkedin-link {
  background-image: url(assets/images/linkedin.svg);
}

.github-link {
  background-image: url(assets/images/github.svg);
}

.socials__link:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .header {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

/*Header section styles end*/

/*About section styles start*/
.about {
  background-color: #070710;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-photo {
  border: 5px solid #07eee0;
  max-width: 300px;
  max-height: 300px;
}

.about-photo__pic {
  width: 100%;
}

.about__title {
  margin-bottom: 20px;
}

.about-text {
  max-width: 550px;
}


.about-list {
  margin-top: 20px;
  font-weight: 700;
}

.about-list__item {
  margin-bottom: 10px;
}

.list-item__title {
  color: #07eee0;
  text-transform: uppercase;
}

.interests {
  margin-top: 50px;
  margin-bottom: 30px;
  flex: none;
  width: 100%;
  max-width: 1000px;
}

.interests__title {
  margin-bottom: 30px;
}

.interests__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interests__item {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.interests__item:hover {
  transform: scale(1.1);
}

.youtube-item {
  background-image: url(assets/images/youtube-icon.svg);
}

.coffee-item {
  background-image: url(assets/images/coffee-icon.svg);
}

.tennis-item {
  background-image: url(assets/images/tenis-icon.svg);
}

.scooter-item {
  background-image: url(assets/images/scooter-icon.svg);
}

.chocolate-item {
  background-image: url(assets/images/chocolate-icon.svg);
}

.walking-item {
  background-image: url(assets/images/walking-icon.svg);
}

.cat-item {
  background-image: url(assets/images/cat-icon.svg);
}

@media (max-width: 1000px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .interests {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .interests__item {
    width: 30px;
    height: 30px;
  }
  .about {
    padding: 10px;
  }
}

/*About section styles end*/

/*Education section styles start*/
.education {
  background-color: #203b37;
  padding: 50px;
}

.education__title {
  text-align: center;
  margin-bottom: 130px;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  position: relative;
}

.block-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.line {
  position: absolute;
  border: 1px solid #07eee0;
  height: 100%;
  top: -50px;
  right: 50%;
}

.line::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-image: url(assets/images/education-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.line::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #07eee0;
  border-radius: 50%;
}

.pseudo-1, .pseudo-2, .pseudo-3 {
  position: absolute;
  left: -50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #07eee0;
  border-radius: 50%;
}

.pseudo-1 {
  top: 70px;
}

.pseudo-2 {
  top: 230px;
}

.pseudo-3 {
  top: 390px;
}

.pseudo-1::after, .pseudo-2::after, .pseudo-3::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -51%;
  width: 20px;
  height: 20px;
  border: 1px solid #07eee0;
  border-radius: 50%;
}

.pseudo-1::before, .pseudo-2::before, .pseudo-3::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -50%;
  width: 10px;
  height: 10px;
  border: 5px solid #203b37;
  border-radius: 50%;
}

.block-right {
  display: flex;
  flex-direction: column;
}

.block__item {
  margin-bottom: 100px;
  max-width: 450px;
  min-height: 70px;
}

.block__item__right {
  text-align: right;
}

.block__item__left {
  text-align: left;
}

.block__title {
  color: #07eee0;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .block__description {
    display: none;
  }

  .line {
    right: 0;
  }

  .block__item__left,
  .block__item__right {
    text-align: left;
  }

  .block {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .block-left {
    align-items: flex-start;
  }

  .block__item {
    padding-right: 50px;
  }
}

/*Education section styles end*/

/*Skills section styles start*/
.skills {
  background-color: #070710;
  padding: 50px;
}

.skills__title {
  text-align: center;
  margin-bottom: 100px;
}

.skills__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.meter {
  height: 10px;
  max-width: 500px;
  position: relative;
  background: #555;
  flex: none;
  margin-bottom: 70px;
}

.meter__line {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  background-color: #07eee0;
}

.meter__line::after {
  content: "";
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #07eee0;
}

.meter__line_html {
  width: 80%;
}

.meter__line_css {
  width: 70%;
}

.meter__line_js {
  width: 40%;
}

.meter__line_ps {
  width: 60%;
}

.meter__line_sql {
  width: 50%;
}

.meter__line_c {
  width: 55%;
}

.meter__title {
  position: absolute;
  top: -35px;
  left: 0;
}

.meter__percent {
  position: absolute;
  top: -30px;
  right: -20px;
}

.meter__title, .meter__percent {
  font-weight: 700;
}

@media (max-width: 1000px) {
  .skills__inner {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .skills {
    padding: 20px;
  }

  .meter__percent {
    display: none;
  }
}

/*Skills section styles end*/

/*Works section styles start*/
.works {
  margin-bottom: 100px;
}

.works__title {
  text-align: center;
  margin-bottom: 50px;
}

.works__inner {
  padding: 20px;
  background-image: url(assets/images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works__button {
  padding: 10px 20px;
  background-color: #070710;
  color: #07eee0;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.works__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.works__gallery {
  padding: 50px;
  max-width: 1300px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 40px;
  grid-template-areas:  "item-1 item-2 item-3"
                        "item-4 item-5 item-6";
}

.works__item {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center 0;
  position: relative;

  transition: transform .3s linear;
}

.works__item::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.5);
  visibility: hidden;
}

.works__item:hover::after {
  visibility: visible;
}

.works__item_1 {
  grid-area: item-1;
  background-image: url(assets/images/works-skinali.jpg);
  background-position: center;
}

.works__item_2 {
  grid-area: item-2;
  background-image: url(assets/images/works-travel.jpg);
}

.works__item_3 {
  grid-area: item-3;
  background-image: url(assets/images/works-witcher.jpg);
}
.works__item_4 {
  grid-area: item-4;
  background-image: url(assets/images/works-wildlife.jpg);
}
.works__item_5 {
  grid-area: item-5;
  background-image: url(assets/images/works-piano.jpg);
}
.works__item_6 {
  grid-area: item-6;
  background-image: url(assets/images/works-zoo.jpg);
}




.work__link {
  visibility: hidden;
  position: absolute;
  bottom: 10%;
  color: #07eee0;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  display: block;
  padding-right: 30px;
  padding-left: 30px;
  background-image: url(assets/images/right-arrow-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

.work__link:hover {
  padding-left: 40px;
  padding-right: 40px;
}

.work__text {
  visibility: hidden;
  position: absolute;
  top: 10%;
  color: #07eee0;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  width: 200px;
  height: 200px;
  border: 1px solid #07eee0;
  border-radius: 50%;
  background-color: rgba(1, 1, 1, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
}

.works__item:hover .work__link,
.works__item:hover .work__text,
.works__item:hover .work__link::after {
  visibility: visible;
}

.works__item:hover {
  transform: scale(1.05);
}

@media (max-width: 1300px) {
  .works__gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:  "item-1 item-2"
                          "item-3 item-4"
                          "item-5 item-6";
  }
}

@media (max-width: 800px) {
  .works__gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 300px);
    grid-template-areas:  "item-1"
                          "item-2"
                          "item-3"
                          "item-4"
                          "item-5"
                          "item-6";
  }
}

@media (max-width: 500px) {
  .works__gallery {
    grid-gap: 10px;
    padding: 10px 0;
  }
}

@media (max-width: 500px) {
  .works__gallery {
    grid-template-rows: repeat(6, 300px);
  }
}


/*Works section styles end*/

/*Footer styles start*/
.footer {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Footer styles end*/